/* exam body */

.exam-body {
  background-image: url(../img/background.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* Exam Container */

#exam-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;
}

#question-container li {
  cursor: pointer;
}

.btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btns button {
  padding: 10px 20px;
  background: linear-gradient(to bottom right, #0056b3, #007bff);
  color: white;
  border: 4px solid #dce4f4;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.btns button:hover {
  background-color: #dce4f4;
  border: 4px solid #0056b3;
  color: white;
}

.btns button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

#submit-btn {
  border: 4px solid #dce4f4;
}

#submit-btn:hover {
  border: 4px solid #ffc107;
  color: #ffc107;
}

.counter-pages {
  margin-top: 25px;
}

.exam-closed {
  display: flex;
  align-items: center;
  gap: 30px;
  text-align: center;
}

/* Question Text Container */
.question-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d7d7d9;
  border-radius: 10px;
  padding: 10px;
}

/* Question Text */
.question-text h2 {
  margin: 0;
  font-size: 1.3rem;
  flex: 1;
}

/* Flag Icon */
.mark-question {
  cursor: pointer;
  margin-left: 10px;
}

/* Question and Answer Style */
#question-container ul {
  list-style: none;
  padding: 0;
}

#question-container li {
  margin-bottom: 15px;
  font-size: 1.3rem;
}

#question-container input[type="radio"] {
  margin-right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.Exam-question {
  width: 60%;
  border-radius: 20px;
}

.question {
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

/* Clickable Answer Styles */
.question ul li {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.question ul li:hover {
  background-color: #eeeeee;
}

.question ul li label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question ul li input[type="radio"] {
  margin-right: 10px;
}

/* Marked Questions Section */
.Marked-question {
  height: 500px;
  width: 30%;
  text-align: center;
  border-radius: 20px;
  margin-top: 40px;
  background: linear-gradient(to bottom right, #0056b3, #007bff);
  color: white;
  padding: 10px;
  cursor: pointer;
  overflow-y: auto;
}

.Marked-question h1 {
  font-size: 2rem;
}

.Marked-question hr {
  width: 90%;
  margin: auto;
}

.marked-question-text {
  text-align: left;
  width: 90%;
  margin: auto;
  cursor: pointer;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.marked-question-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.marked-question-item h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: lighter;
  margin: 0 16px;
}

.marked-question-item img {
  height: 20px;
  width: 20px;
  cursor: pointer;
}

/* Exam Timer Style */
#timer {
  font-size: 25px;
  color: #007bff;
}

.question-header-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

#timer.red {
  color: red;
}

/* Error Loading Question */
/* back Container */
#backContainer {
  text-align: center;
  padding: 20px;
  background-color: #ffebee;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 400px;
}

#backErrorMessage {
  color: #d32f2f;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

/* Back Button */
.back-btn {
  background-color: #ffc107;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #0056b3;
  color: #ffc107;
  border: 2px solid #ffc107;
}
